.results_card {
  height: 490px;
  width: 420px;
  background-color: #a8dadc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.results_buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

p {
  margin: 0px;
}

h2 {
    margin: 0px;
    margin-bottom: 10px;
}