.start_card {
  height: 490px;
  width: 420px;
  background-color: #a8dadc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.settings_select {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.start_buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 20px;
}
